{% extends "lytics_tables/base.html" %}

{% block title %} Custom Query {% endblock %}

{% block content %}

{% if userQuery %}
<div class="container">
    <div class="alert alert-primary" role="alert">
        Showing results for the query: <strong> {{ userQuery }} </strong>
    </div>
</div>
{% endif %}

{% if customQueryGeneral %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    {% if 'name' in customQueryGeneral.0 %}
                    <th scope="col">Channel</th>
                    {% endif %}

                    {% if 'sid' in customQueryGeneral.0 %}
                    <th scope="col">SID</th>
                    {% endif %}

                    {% if 'bType' in customQueryGeneral.0 %}
                    <th scope="col">Type</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for channel in customQueryGeneral %}
                <tr>
                    {% if 'name' in channel %}
                    <td>{{ channel.name }}</td>
                    {% endif %}

                    {% if 'sid' in channel %}
                    <td>{{ channel.sid }}</td>
                    {% endif %}

                    {% if 'bType' in channel %}
                    <td>{{ channel.bType }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% elif customQueryData %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    {% if 'name' in customQueryData.0 %}
                    <th scope="col">Name</th>
                    {% endif %}

                    {% if 'game' in customQueryData.0 %}
                    <th scope="col">Game</th>
                    {% endif %}

                    {% if 'views' in customQueryData.0 %}
                    <th scope="col">Views</th>
                    {% endif %}

                    {% if 'followers' in customQueryData.0 %}
                    <th scope="col">Followers</th>
                    {% endif %}

                    {% if 'dateTimeUpdated' in customQueryData.0 %}
                    <th scope="col">Date & Time Updated</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for channel in customQueryData %}
                <tr>
                    {% if 'name' in channel %}
                    <td>{{ channel.name }}</td>
                    {% endif %}

                    {% if 'game' in channel %}
                    <td>{{ channel.game }}</td>
                    {% endif %}

                    {% if 'views' in channel %}
                    <td>{{ channel.views }}</td>
                    {% endif %}

                    {% if 'followers' in channel %}
                    <td>{{ channel.followers }}</td>
                    {% endif %}

                    {% if 'dateTimeUpdated' in channel %}
                    <td>{{ channel.dateTimeUpdated }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</section>

{% elif customQueryClips %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    {% if 'name' in customQueryClips.0 %}
                    <th scope="col">Name</th>
                    {% endif %}

                    {% if 'title' in customQueryClips.0 %}
                    <th scope="col">Title</th>
                    {% endif %}

                    {% if 'clip' in customQueryClips.0 %}
                    <th scope="col">Clip</th>
                    {% endif %}

                    {% if 'views' in customQueryClips.0 %}
                    <th scope="col">Views</th>
                    {% endif %}

                    {% if 'dateTimeCreated' in customQueryClips.0 %}
                    <th scope="col">Date & Time Created</th>
                    {% endif %}

                    {% if 'timestamp_updated' in customQueryClips.0 %}
                    <th scope="col">Updated at</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for channel in customQueryClips %}
                <tr>
                    {% if 'name' in channel %}
                    <td>{{ channel.name }}</td>
                    {% endif %}

                    {% if 'title' in channel %}
                    <td>{{ channel.title }}</td>
                    {% endif %}

                    {% if 'clip' in channel %}
                    <td>{{ channel.clip }}</td>
                    {% endif %}

                    {% if 'views' in channel %}
                    <td>{{ channel.views }}</td>
                    {% endif %}

                    {% if 'dateTimeCreated' in channel %}
                    <td>{{ channel.dateTimeCreated }}</td>
                    {% endif %}

                    {% if 'timestamp_updated' in channel %}
                    <td>{{ channel.timestamp_updated }}</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</section>

{% else %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        The custom query used is either invalid or data is not retrieveable at the moment.
    </div>
</div>
{% endif %}

{% endblock %}