{% extends "lytics_tables/base.html" %} 

{% block title %} Channel {% endblock %}


{% block content %}

<div class="container">
    <form method="GET">
        <!-- {% csrf_token %} -->
        <div class="form-group col-8">
            <label for="custom_query">Enter a custom query</label>
            <input type="text" class="form-control" name ="custom_query" id="custom_query" aria-describedby="queryHelp" placeholder="Enter a custom query">
            <small id="queryHelp" class="form-text text-muted">Its safe!</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% if channel %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Game</th>
                    <th scope="col">Views</th>
                    <th scope="col">Followers</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for streamer in channel %}
                <tr>
                    <td>{{ streamer.name }}</td>
                    <td>{{ streamer.game }}</td>
                    <td>{{ streamer.views }}</td>
                    <td>{{ streamer.followers }}</td>
                    <td>{{ streamer.date }}</td>
                    <td>{{ streamer.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% else %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        The channel {{ unfound_channel }} is not within the database
    </div>
</div>
{% endif %}

{% endblock %}
