{% extends "lytics_tables/base.html" %} 

{% block title %} Channel {% endblock %}


{% block content %}
{% if channel %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Game</th>
                    <th scope="col">Views</th>
                    <th scope="col">Followers</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for streamer in channel %}
                <tr>
                    <td>{{ streamer.name }}</td>
                    <td>{{ streamer.game }}</td>
                    <td>{{ streamer.views }}</td>
                    <td>{{ streamer.followers }}</td>
                    <td>{{ streamer.date }}</td>
                    <td>{{ streamer.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% else %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        The channel {{ unfound_channel }} is not within the database
    </div>
</div>
{% endif %}

{% endblock %}
