{% extends "lytics_tables/base.html" %} 

{% block title %} Channel {% endblock %}

{% if data %}
{% block content %}
<section id="table">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Game</th>
                    <th scope="col">Views</th>
                    <th scope="col">Followers</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
            {% for streamer in data %}
                <tr>
                    <td>{{ streamer.name }}</td>
                    <td>{{ streamer.game }}</td>
                    <td>{{ streamer.views }}</td>
                    <td>{{ streamer.followers }}</td>
                    <td>{{ streamer.date }}</td>
                    <td>{{ streamer.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}

{% else %}
<p>No data is available</p>
{% endif %}