
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="txt/html">
    <meta charset="utf-8">
    <title>Jerrerah</title>
    <meta name="description" content="My website"

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'lytics_tables/style.css' %}">
    <link rel="stylesheet" href="{% static 'lytics_tables/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'lytics_tables/normalize.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'lytics_tables/fontawesome.css' %}"> -->

    <link rel="icon" type="image/png" href="{% static 'lytics_tables/images/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>

<body>
    <nav class="navigation">
        <a href="#" class="menu-icon">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="main-navigation">
            <li><a href="#hero">Home</a></li> <!--hero-->
            <li><a href="#introduction">Introduction</a></li> <!--intro-->
            <li><a href="#interest">Interest</a></li> <!--creativity-->
            <li><a href="#projects">Projects</a></li> <!--work-->
            <li><a href="#contact">Contacts</a></li> <!--get in touch-->
            <li><a href="#about">About</a></li> <!--about us-->
        </ul>
    </nav>

    <section id="hero" class="hero u-full-width">
        <div class="hero-image"></div>
        <div class="container centeredHero">
            <div class="twelve columns">
                <h1 class="separator">Jonathan Herrera</h1>
                <h2>Software engineer driven by curiosity</h2>
            </div>
        </div>
    </section>

    <section id="introduction" class="introduction u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 class="separator">Introduction</h3>
                    <h4>I am a C/C++ and Python developer that is always looking forward to learning new things. 
                        The following are new technologies that I am really glad to have acquired recently.
                    </h4>
                </div>
                <ul class="u-full-width fa-5x adj">
                    <a href="https://docker.com">
                        <i class="fab fa-docker contactIcons my-icon"></i></a>
                    <a href="https://jenkins.io/">
                        <i class="fab fa-jenkins contactIcons"></i></a>
                    <a href="https://github.com/abseil/googletest">
                        <i class="fab fa-google contactIcons"></i></a>
                    <a href="https://www.djangoproject.com/">
                        <i class="fab fa-python contactIcons"></i></a>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="interest" class="interest u-full-width featured-bg-image">
        <h4 class="centered">
            <button class="button inverted">Check out my projects</button>
        </h4>
    </section>

    <section id="projects" class="projects u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 class="separator">Projects</h3>
                </div>
            </div>
            <div class="row">
                <ul class="work-filters u-full-width">
                    <li class="active">
                        <a href="https://github.com/jherr029/twitch-clips-analytics">Lytics</a>
                    </li>
                    <li>
                        <a href="{% url 'lytics:lytics' %}">Lytics Alpha</a>
                    </li>
                    <li>
                        <a href="https://github.com/jherr029/Graphing-Calculator">Calculator</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=TZeS5Vxri7U">Dodger</a>
                    </li>
                    <li>
                        <a href="https://github.com/jherr029/pattern-check">Patterns</a>
                    </li>
                    <li>
                        <a href="#">Shuttle</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=lAhPIHusmWA">Synth</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="work-items isotope">
                    <li class="four columns isotope-item">
                        <img src="https://www.twitch.tv/p/assets/uploads/combologo_474x356.png" class="twitch">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>Lytics</h3>
                                <p class="separator orange">Twitch Clips Analysis</p>
                                <p>C++ and Mysql</p>
                                <p>In Alpha Stage</p>
                            </div>
                        </div>
                    </li>
                    <li class="four columns isotope-item">
                        <img src="https://images.unsplash.com/photo-1511377107391-116a9d5d20b5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c36af8fdc0ecb730540a3d1b9fef34f1&auto=format&fit=crop&w=2250&q=80" class="calc">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>Android Graphing Calculator</h3>
                                <p class="separator orange">Based on Desmos Calculator</p>
                                <p>Java and Firebase</p>
                            </div>
                        </div>
                    </li>
                    <li class="four columns isotope-item">
                        <img src="{% static 'lytics_tables/images/work/dodge.png' %}" class="dodge">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>Dodging Game</h3>
                                <p class="separator orange">Embedded System</p>
                                <p>C</p>
                            </div>
                        </div>
                    </li>
                    <li class="four columns isotope-item">
                        <img src="https://images.unsplash.com/reserve/uZYSV4nuQeyq64azfVIn_15130980706_64134efc6e_o.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e13dac6ddcf9a4071422202015ae94a9&auto=format&fit=crop&w=2247&q=80" class="pattern">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>Pattern Finder</h3>
                                <p class="separator orange">Parses a file to find valid patterns</p>
                                <p>C++</p>
                            </div>
                        </div>
                    </li>
                    <li class="four columns isotope-item">
                        <img src="https://images.unsplash.com/photo-1535655685871-dc8158ff167e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56f088e356da62acb6c8f0580fd106df&auto=format&fit=crop&w=1300&q=80" class="shuttle">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>UCR Shuttle</h3>
                                <p class="separator orange">An Uber inspired webapp</p>
                                <p>C++, MySQL, and Django)</p>
                                <p>On Hold</p>
                            </div>
                        </div>
                    </li>
                    <li class="four columns isotope-item">
                        <img src="{% static 'lytics_tables/images/work/synth.jpg' %}">
                        <div class="work-detail">
                            <div class="vertical-centered">
                                <h3>Synthesizer</h3>
                                <p class="separator orange">Embedded System synthesizer</p>
                                <p>C, Atmega1284, Adruino Uno, and Raspberry Pi</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contact" class="contact u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 class="separator">Get in touch</h3>
                </div>
            </div>
            <ul class="u-full-width fa-6x">
                <a href="https://github.com/jherr029">
                    <i class="fab fa-github contactIcons"></i></a>
                <a href="https://www.linkedin.com/in/jonathan-herrera-52b22613b/">
                    <i class="fab fa-linkedin contactIcons"></i></a>
                <a href="mailto: jherreraj135@gmail.com">
                    <i class="fas fa-envelope contactIcons"></i></a>
                <a href="#">
                    <i class="fas fa-file-alt contactIcons"></i></a>
            </ul>
            </div>
        </div>
    </section>

    <section id="about" class="about u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 class="separator">About me</h3>
                    <h4>I graduated from University of California - Riverside with a BS in Computer Science in 2018.
                    I became who I am today due to my fascination with robots as a child. I enjoying reading, snowboarding
                    and making sure my dog is not making a mess.
                    </h4>
                </div>
            </div>
            <!-- <div class="row">
                <ul class="people-list">

                </ul>
            </div> -->
        </div>
    </section>

    <section class="footer u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>Developed by Jonathan using Django and Skeleton framework</h5>
                </div>
            </div>
        </div>
    </section>

        <!-- Javascript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="{% static 'lytics_tables/js/jquery.singlePageNav.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lytics_tables/js/scripts.js' %}"></script>

</body>
</html>
